<!DOCTYPE html>
<html>
	<head>
		<!-- Override the default title -->
		<title>Search Results</title>
		<% include head %>
	</head>
	<body>
		<% include navigation %>
		<div id="wrapper">
			<h1>Search Results for <%= title %> </h1>
			<table>
				<thead>
					<th>Company</th>
					<th>Location</th>
					<th>Description</th>
					<th>Show</th>
					<th>Save</th>
				</thead>
				<tbody>
					<% results.forEach(function(job) { %>
						<tr>
							<td><%= job.company.name %></td>
							<td><%= job.descriptionSnippet.substr(0, 100) %></td>
							<td><%= job.locationDescription %></td>
							<td><a href="/jobquery/<%=job.id %>">Details</a></td>
							<td><a href="/posts/save/<%= job.id %>">Save</a></td>
						</tr>
					<% }); %>
				</tbody>
			</table>
		</div>
	</body>
</html>
